.message {
  margin: 12px 12px;
  display: flex;
}

.message_body {
  background-color: rgb(24, 37, 51);
  padding: 4px 12px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

.avatar_containter {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.avatar_bg_low {
  background-color: rgb(24, 37, 51);
}

.avatar_bg_high {
  height: 50px;
  padding-right: 12px;
  background-color: rgb(14, 22, 33);
  border-bottom-right-radius: 23%;
}

.avatar {
  width: 50px;
  height: 50px;
  border-radius: 48%;
}

.message_username {
  font-weight: 500;
  color: rgb(180, 139, 242);
}

.content_time_container {
  display: flex;
}

.message_content {
  color: rgb(245, 245, 245);
}

.message_time {
  color: rgb(109, 127, 143);
  padding-top: 10px;
  padding-left: 8px;
  font-size: 1.1rem;
  display: flex;
}

.message_time span {
  align-self: flex-end;
}
