.affairs {
  background-color: var(--fg-color);
  margin: 12px;
  border-radius: 8px;
  width: fit-content;
  padding: 8px 12px;
}

.button {
  padding: 1px 4px;
  font-size: 1.15rem;
  border: none;
  background-color: var(--fg-color);
  color: var(--color-dark);
  cursor: pointer;
}

.buttons {
  margin-top: 8px;
  display: flex;
  justify-content: center;
}

.button:not(:first-child).button:not(:last-child) {
  margin: 0px 4px;
}

.button:hover {
  color: var(--color-light);
  background-color: var(--color-dark);
}
