.affairs {
  background-color: var(--fg-color);
  margin: 12px;
  border-radius: 8px;
  width: fit-content;
  padding: 8px 12px;
  /* max-width: 480px; */
}

.affair {
  /* width: fit-content; */
  color: var(--color-light);
  display: flex;
  margin: 8px 0px;
}

.priority {
  font-style: italic;
  font-weight: 500;
}

.high {
  color: var(--color-red);
}

.middle {
  color: var(--color-violet);
}

.low {
  color: var(--color-blue);
}

.button {
  /* text-decoration: none; */
  border: none;
  background-color: var(--fg-color);
  color: var(--color-dark);
  cursor: pointer;
}

.button:hover {
  color: var(--color-light);
  background-color: var(--color-dark);
}