.container {
  margin: 12px;
}

.container span {
  display: block;
  font-weight: bold;
  font-size: 1.2rem;
  padding: 12px;
}

.dark {
  background: var(--fg-color);
}

.dark-text {
  color: var(--color-blue);
}

.red {
  background: var(--color-red);
}

.red-text {
  color: var(--bg-color);
}

.light {
  background: rgb(231, 231, 231);
}

.light-text {
  color: rgb(45, 36, 102);
}
