.error {
  margin: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.number {
  color: var(--color-blue);
  font-weight: bold;
  font-size: 7rem;
}

.message {
  color: var(--color-dark);
  font-size: 2rem;
}

.ascii {
  color: var(--color-red);
  font-size: 2rem;
}
