.greeting {
  margin: 12px;
  display: flex;
  align-items: flex-start;
}

.input {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button {
  margin-left: 16px;
  font-size: 1.1rem;
}

.counter {
  margin-left: 16px;
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--color-blue);
}
