:root {
  --bg-color: rgb(14, 22, 33);
  --fg-color: rgb(24, 37, 51);
  --color-light: rgb(245, 245, 245);
  --color-dark: rgb(109, 127, 143);
  --color-violet: rgb(180, 139, 242);
  --color-red: rgb(221, 69, 84);
  --color-blue: rgb(67, 136, 185);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(14, 22, 33);
}

.homework {
  margin-top: 20px;
}

.section_title {
  color: rgb(245, 245, 245);
  margin: 0;
  padding: 0 12px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas,
    "Courier New", monospace;
}
