.superInput {
  border-radius: 5px;
  padding: 6px;
  font-size: 1.1rem;
  background-color: var(--fg-color);
  color: var(--color-light);
  margin-bottom: 12px;
}

.superInput:focus {
  outline: none;
}

.validInput {
  border: 2px solid var(--color-blue);
}

.errorInput {
  border: 2px solid var(--color-red);
}

.error {
  color: var(--color-red);
  margin-bottom: 12px;
}
